@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-weight: 400;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background:
    radial-gradient(
      circle at top left,
      rgba(37, 99, 235, 0.15),
      transparent 30%
    ),
    radial-gradient(
      circle at top right,
      rgba(124, 58, 237, 0.15),
      transparent 30%
    ),
    linear-gradient(180deg, #f8fafc, #eef2ff);

  background-attachment: fixed;
}

body::before,
body::after {
  content: "";
  position: fixed;
  border-radius: 50%;
  z-index: -1;
  filter: blur(100px);
}

body::before {
  width: 350px;
  height: 350px;
  background: rgba(37, 99, 235, 0.4);
  top: -100px;
  left: -100px;
}

body::after {
  width: 400px;
  height: 400px;
  background: rgba(124, 58, 237, 0.4);
  bottom: -120px;
  right: -120px;
}
